@media screen and (max-width : 1024px) {
    .diagram__descr .logo_1, .diagram__descr .logo_2 {
        padding: 0!important;
    }
    .diagram__descr .logo_2_img, .diagram__descr .logo_1_img {
        top: 0!important;
    }
    .diagram {
        .plus {
            font-size: get-vw-1024(48px);
            line-height: get-vw-1024(64px);
            top: get-vw-1024(180px);
        }
        &__title {
            font-size: get-vw-1024(36px);
            line-height: get-vw-1024(64px);
            margin-top: get-vw-1024(15px);
            letter-spacing: 0.05em;
        }
        &__descr {
            margin-top: get-vw-1024(135px);
            .logo_1_img {
                left: get-vw-1024(175px);
                top: get-vw-1024(100px);
                img {
                    width: get-vw-1024(690px);
                }
            }
            .logo_2_img {
                right: get-vw-1024(175px);
                top: get-vw-1024(100px);
                img {
                    width: get-vw-1024(690px);
                }
            }

            .logo_1 {
                top: get-vw-1024(150px);
                left: get-vw-1024(75px);
                padding-top: get-vw-1024(252px);
                padding-left: get-vw-1024(111px);
                padding-bottom: get-vw-1024(252px);
                padding-right: get-vw-1024(320px);
                img {
                    width: get-vw-1024(258px);
                }

            }
            .logo_2 {
                top: get-vw-1024(150px);
                right: get-vw-1024(45px);
                padding-top: get-vw-1024(292px);
                padding-left: get-vw-1024(289px);
                padding-right: get-vw-1024(79px);
                padding-bottom: get-vw-1024(292px);
                img {
                    width: get-vw-1024(322px);
                }
            }
        }
    }
    .advantage {
        &__title {
            h2 {
                margin-top: get-vw-1024(135px);
                font-size: get-vw-1024(48px);
                line-height: get-vw-1024(64px);
                letter-spacing: 0.05em;
            }
        }
        &__footer_wrap {
            margin-bottom: get-vw-1024(150px);
            p {
                font-size: get-vw-1024(20px);
                line-height: get-vw-1024(36px);
                letter-spacing: 0.05em;
                padding: 29px 40px;
            }
        }
        &__footer_text {
            h2 {
                margin-top: get-vw-1024(550px);
                font-size: get-vw-1024(24px);
                line-height: get-vw-1024(48px);
                letter-spacing: 0.05em;
            }
        }
    }
    .air_descr {
        min-height: 360px!important;
    }
    .air_descr p {
        font-size: 4.9375vw!important;
        line-height: 6.875vw!important;
    }
    .air_descr h2 {
        font-size: 7.5vw!important;
        line-height: 8.33333vw!important;
        margin-bottom: 15px;
    }
    .distribution_items .descr p {
        font-size: 5.9375vw!important;
        line-height: 10.875vw!important;
    }
    .distribution_items {
        min-height: 31.97917vw;
        height: auto!important;
    }
    .distribution_items .icon {
        width: auto!important;
        height: auto!important;
        img {
            width: 35.90729vw!important;
            height: 33.66667vw!important;
        }
    }
    .professional_title {
        font-size: 5.5vw!important;
        line-height: 8.33333vw!important;
    }
    .professional_item_span span {
        font-size: 6.25vw!important;
        line-height: 8.875vw!important;
    }
    .professional_item_p_left p {
        height: 62.71875vw!important;
        font-size: 5.9375vw!important;
        line-height: 6.875vw!important;
        width: 100%!important;
        padding-left: 2.60417vw!important;
        border-left: 1px dashed #056496!important;
        border-right: none!important;
        text-align: left!important;
    }
    .professional_item_p p {
        height: 62.71875vw!important;
        font-size: 5.9375vw!important;
        line-height: 6.875vw!important;
        width: 100%!important;
    }
    .distribution_items_title h2 {
        font-size: 7.5vw!important;
        line-height: 9.33333vw!important;
    }
    .distribution_items .title h2 {
        font-size: 6.25vw !important;
        line-height: 10.875vw !important;
        font-weight: bold!important;
    }
    .diagram {
        min-height: 90.77778rem!important;
    }
    .diagram__title {
        font-size: 5.66667rem!important;
        line-height: 8.55556rem!important;
    }
    .diagram__descr .logo_1, .diagram__descr .logo_2 {
        top: 10.55556rem!important;
    }
    .diagram__descr .logo_1 {
        left: 9.55556rem!important;
    }
    .diagram__descr .logo_2 {
        right: 9.55556rem!important;
    }
    .diagram__descr .logo_1 img, .diagram__descr .logo_2 img {
        width: 22.33333rem!important;
        height: 16.27778rem!important;
    }
    .pagination_btn {
        font-size: 3rem!important;
        width: 45.77778rem!important;
        height: 8.55556rem!important;
    }
    .five_descr h2 {
        font-size: 5.875vw!important;
        line-height: 14.33333vw!important;
    }
    .pagination_btn img {
        width: 3.88889rem!important;
        height: 3.88889rem!important;
    }
    .gallery_img {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    .gallery_img img {
        height: 75rem!important;
    }
    .gallery_img_right {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    .gallery_img_big {
        padding-right: 0px!important;
    }
    .gallery_img_big img{
        height: 75rem!important;
        padding-right: 0px!important;
    }
    .gallery_img_right img {
        height: 75rem!important;
    }
    .gallery_img_right {
        padding-right: 0px!important;
    }
    .our_project h3 {
        font-size: 8.25vw !important;
        line-height: 10.33333vw !important;
    }
    .our_project ul {
        width: 100%!important;
    }
    .our_project ul li {
        font-size: 6.875vw!important;
        line-height: 7.8125vw!important;
        letter-spacing: 0;
        padding-bottom: 45vw!important;
    }
    .our_project_2 {
        padding-left: 0px!important;
    }
    .contacts_descr_text_1 span, .contacts_descr_text_2 span {
        font-size: 6.22222rem!important;
    }
    .contacts_descr_form form button {
        font-size: 3rem!important;
    }
    .contacts_descr_form h2 {
        font-size: 6rem!important;
        line-height: 6.66667rem!important;
    }
    .contacts_descr_form form input {
        height: 12.33333rem!important;
        font-size: 3rem!important;
    }
    .contacts_descr_form form input::placeholder {
        font-size: 3rem!important;
    }
    .contacts_descr_text_1 a, .contacts_descr_text_2 a {
        font-size: 7.33333rem!important;
        line-height: 14rem!important;
    }
    .contacts_descr {
        min-height: 416px;
    }
    .reverseSlider .reverseSlider_prev, .reverseSlider .reverseSlider_next {
        display: none!important;
    }
    .reverseSlider_slider_item_descr {
        width: 100%!important;
        margin-top: 0px!important;
    }
    .reverseSlider_slider_item_descr h2 {
        width: 100%!important;
        font-size: 4rem!important;
        color: #ccc!important;
        line-height: 7.66667rem!important;
    }
    .reverseSlider_bg {
        height: 53.22222rem!important;
    }
    .reverseSlider_slider_item_descr h3 {
        font-size: 3rem!important;
        line-height: 7.66667rem!important;
    }
    .reverseSlider_slider_item_descr .line {
        margin-top: 2rem!important;
    }
    .reverseSlider_slider_item img {
        width: 88rem!important;
        height: 36.66667rem!important;
    }
    footer .airplane img {
        display: none;
    }
    .journalSlider__title h2 {
        font-size: 5.66667rem!important;
        line-height: 7.33333rem!important;
    }
    .journalSlider__slider img {
        height: 33.55556rem!important;
    }
    .journalSlider .dots_wrap {
        display: none!important;
    }
    .newsSlider__title h2 {
        margin-top: 6rem!important;
        font-size: 6.66667rem!important;
    }
    header {
        height: 20.55556rem;
    }
    header .logo img {
        width: 38.65222rem!important;
        height: 21.22222rem!important;
    }
    header .nav_wrap nav ul .burger_wrap {
        display: block!important;
    }
    header .nav_wrap nav ul li .burger {
        top: 20px!important;
    }
    header .nav_wrap nav ul li .burger img {
        width: 15rem!important;
        height: 7rem!important;
    }
    header .nav_wrap nav ul li{
        display: none;
    }
    .newsSlider_bg {
        height: 55.22222rem!important;
    }
    .newsSlider_slider_item img {
        height: 38.66667rem!important;
    }
    .newsItem h2 {
        font-size: 5.33333rem!important;
        line-height: 6rem!important;
        text-align: center;
    }
    .newsItem_item img {
        height: 85rem!important;
    }
    .newsItem .line {
        width: 9.5rem!important;
    }
    .newsItem h3 {
        font-size: 4rem!important;
        line-height: 7.66667rem!important;
    }
    .newsSlider .news_prev, .newsSlider .news_next {
        margin-right: -8.55556rem!important;
    }
    .newsSlider_slider_item_descr h2 {
        font-size: 5rem!important;
        line-height: 4.66667rem!important;
        width: 100%!important;
    }
    .newsSlider_slider_item_descr h3 {
        font-size: 4rem!important;
    }
    .newsSlider_slider_item_descr {
        width: 100%!important;
        padding-right: 12px!important;
    }
    .newsSlider_bg {
        height: 73.22222rem!important;
    }
    .newsSlider .news_prev img, .newsSlider .news_next img {
        width: 5.66667rem!important;
        height: 5.1rem!important;
    }
    .newsSlider .news_prev, .newsSlider .news_next {
        width: 10.55556rem!important;
        height: 10.55556rem!important;
        display: none!important;
    }
    .personalSlider_img {
        margin-left: 0px!important;
        margin-top: 3rem!important;
    }
    .personalSlider_arrows {
        display: none!important;
    }
    .personalSlider_img img {
        width: 46rem!important;
        height: 46rem!important;
    }
    .reverseSlider__title h2 {
        font-size: 5.66667rem!important;
    }
    .personalSlider_descr {
        padding-top: 7.5rem!important;
    }
    .personalSlider_descr h3 {
        font-size: 4rem!important;
    }
    .personalSlider_descr h2 {
        font-size: 6rem!important;
        line-height: 6.66667rem!important;
        letter-spacing: 0!important;
    }
    footer {
        height: 30rem!important;
    }
    footer .logo {
        display: flex;
        justify-content: center;
    }
    footer .logo img {
        height: 18rem!important;
        width: 38rem!important;
    }
    footer .footer_descr .footer_soc {
        justify-content: center;
        margin-top: 7rem;
    }
    .footer_span {
        display: none;
    }
    footer .footer_descr .footer_soc a {
        font-size: 2.88889rem;
    }
    .footer_nav {
        min-height: 45.44444rem!important;
    }
    .footer_nav_child ul li a {
        font-size: 5.33333rem!important;
        line-height: 12.33333rem!important;
    }
    header .nav_wrap nav ul li .burger {
        top: 60px!important;
    }
    .news_inner_breadscrump ul :first-child {
        height: 4.77778rem!important;
        width: 20.66667rem!important;
    }
    .news_inner_breadscrump ul li {
        font-size: 3rem!important;
    }
    .news_inner_title h2{
        font-size: 8rem!important;
    }
    .news_inner_text_descr p {
        font-size: 5rem!important;
        line-height: 10rem!important;
    }
    .news_inner_text_descr h3 {
        line-height: 8.61111rem!important;
        font-size: 7.22222rem!important;
    }
    .news_inner_text_descr p i {
        font-size: 5rem!important;
    }
    .news_inner_text_items h2 {
        font-size: 5rem!important;
    }
    .news_inner_text_items_a img {
        height: 80.66667rem!important;
        width: 100%!important;
    }
    .statiaSlider__title h2 {
        font-size: 5.66667rem!important;
    }
    .news_inner_text_items_bottom_social {
        padding-bottom: 4rem!important;
    }
    .news_inner_text_items_bottom_social ul li a img {
        width: 18.88889rem!important;
        height: 12.88889rem!important;
    }
    .news_inner_text_items_a span {
        font-size: 4rem!important;
    }
    .news_inner_text_items_a p {
        font-size: 5.33333rem!important;
        line-height: 7rem!important;
    }
    .news_inner_text_descr {
        padding-right: 0px!important;
    }
    .news_inner_breadscrump ul {
        height: 1.77778rem!important;
        width: 45.05556rem!important;
    }
    .nav-panel-mobil-ul ul {
        left: 16%!important;
    }
    .newsSlider .news_prev {
        top: 27.33333rem!important;
        background: #056496!important;
    }
    .nav-panel-mobil-ul ul li a {
        font-size: 5.75781vw !important;
        line-height: 11.14844vw !important;
    }
    .diagram__descr .logo_1, .diagram__descr .logo_2 {
        padding: 0!important;
    }
    .diagram__descr .logo_2_img, .diagram__descr .logo_1_img {
        top: 0!important;
    }
    .diagram {
        .plus {
            font-size: get-vw-768(48px);
            line-height: get-vw-768(64px);
            top: get-vw-768(135px);
        }
        &__title {
            line-height: get-vw-768(64px);
            margin-top: get-vw-768(15px);
            letter-spacing: 0.05em;
        }
        &__descr {
            margin-top: get-vw-768(135px);
            .logo_1_img {
                left: get-vw-768(175px);
                top: get-vw-768(100px);
                img {
                    width: 100%;
                }
            }
            .logo_2_img {
                right: get-vw-768(175px);
                top: get-vw-768(100px);
                img {
                    width: 100%;
                }
            }

            .logo_1 {
                top: get-vw-768(100px);
                left: get-vw-768(25px);
                padding-top: get-vw-768(252px);
                padding-left: get-vw-768(111px);
                padding-bottom: get-vw-768(252px);
                padding-right: get-vw-768(320px);
                img {
                    width: get-vw-768(258px);
                }

            }
            .logo_2 {
                top: get-vw-768(115px);
                right: get-vw-768(-15px);
                padding-top: get-vw-768(292px);
                padding-left: get-vw-768(289px);
                padding-right: get-vw-768(79px);
                padding-bottom: get-vw-768(292px);
                img {
                    width: get-vw-768(322px);
                }
            }
        }
    }
    .advantage {
        &__title {
            h2 {
                margin-top: get-vw-768(135px);
                font-size: get-vw-768(48px);
                line-height: get-vw-768(64px);
                letter-spacing: 0.05em;
            }
        }
        &__footer_wrap {
            margin-bottom: get-vw-768(150px);
            p {
                font-size: get-vw-768(20px);
                line-height: get-vw-768(36px);
                letter-spacing: 0.05em;
            }
        }
        &__footer_text {
            h2 {
                margin-top: get-vw-768(550px);
                font-size: get-vw-768(24px);
                line-height: get-vw-768(48px);
                letter-spacing: 0.05em;
            }
        }
    }
    .article_descr h2 {
        font-size: 6.875vw!important;
        line-height: 12.33333vw!important;
    }
    .advantage__footer_wrap p {
        font-size: 5rem!important;
        line-height: 8rem!important;
    }
    .advantage__title h2 {
        font-size: 5.66667rem!important;
        line-height: 7.55556rem!important;
    }
    .advantage__footer_text h2 {
        font-size: 4.33333rem!important;
        line-height: 6.66667rem!important;
    }
}
@media screen and (max-width: 768px) {
    .diagram {
        min-height: 90.77778rem!important;
    }
    .diagram__title {
        line-height: 8.55556rem!important;
    }
    .diagram__descr .logo_1, .diagram__descr .logo_2 {
        top: 10.55556rem!important;
    }
    .diagram__descr .logo_1 {
        left: 9.55556rem!important;
    }
    .diagram__descr .logo_2 {
        right: 9.55556rem!important;
    }
    .diagram__descr .logo_1 img, .diagram__descr .logo_2 img {
        width: 22.33333rem!important;
        height: 16.27778rem!important;
    }
    .pagination_btn {
        font-size: 3rem!important;
        width: 45.77778rem!important;
        height: 8.55556rem!important;
    }
    .five_descr h2 {
        font-size: 5.875vw!important;
        line-height: 14.33333vw!important;
    }
    .pagination_btn img {
        width: 3.88889rem!important;
        height: 3.88889rem!important;
    }
    .gallery_img {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    .gallery_img img {
        height: 75rem!important;
    }
    .gallery_img_right {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    .gallery_img_big {
        padding-right: 0px!important;
    }
    .gallery_img_big img{
        height: 75rem!important;
        padding-right: 0px!important;
    }
    .gallery_img_right img {
        height: 75rem!important;
    }
    .gallery_img_right {
        padding-right: 0px!important;
    }
    .our_project h3 {
        font-size: 8.25vw !important;
        line-height: 10.33333vw !important;
    }
    .our_project ul {
        width: 100%!important;
    }
    .our_project ul li {
        font-size: 6.875vw!important;
        line-height: 7.8125vw!important;
        letter-spacing: 0;
        padding-bottom: 45vw!important;
    }
    .our_project_2 {
        padding-left: 0px!important;
    }
    .advantage__title h2 {
        font-size: 5.66667rem!important;
        line-height: 7.55556rem!important;
    }
    .advantage__footer_text h2 {
        font-size: 4.33333rem!important;
        line-height: 6.66667rem!important;
    }
    .advantage__footer_wrap p {
        font-size: 5rem!important;
        line-height: 8rem!important;
    }
    .article_descr h2 {
        font-size: 7.875vw!important;
        line-height: 12.33333vw!important;
    }
    .diagram__title {
        font-size: 7.66667rem!important;
    }
    .contacts_descr_text_1 span, .contacts_descr_text_2 span {
        font-size: 6.22222rem!important;
    }
    .contacts_descr_form form button {
        font-size: 3rem!important;
    }
    .contacts_descr_form h2 {
        font-size: 6rem!important;
        line-height: 6.66667rem!important;
    }
    .contacts_descr_form form input {
        height: 12.33333rem!important;
        font-size: 3rem!important;
    }
    .contacts_descr_form form input::placeholder {
        font-size: 3rem!important;
    }
    .contacts_descr_text_1 a, .contacts_descr_text_2 a {
        font-size: 7.33333rem!important;
        line-height: 14rem!important;
    }
    .contacts_descr {
        min-height: 416px;
    }
    .reverseSlider .reverseSlider_prev, .reverseSlider .reverseSlider_next {
        display: none!important;
    }
    .reverseSlider_slider_item_descr {
        width: 100%!important;
        margin-top: 0px!important;
    }
    .reverseSlider_slider_item_descr h2 {
        width: 100%!important;
        font-size: 4rem!important;
        color: #ccc!important;
        line-height: 7.66667rem!important;
    }
    .reverseSlider_bg {
        height: 53.22222rem!important;
    }
    .reverseSlider_slider_item_descr h3 {
        font-size: 3rem!important;
        line-height: 7.66667rem!important;
    }
    .reverseSlider_slider_item_descr .line {
        margin-top: 2rem!important;
    }
    .reverseSlider_slider_item img {
        width: 88rem!important;
        height: 36.66667rem!important;
    }
    footer .airplane img {
        display: none;
    }
    .journalSlider__title h2 {
        font-size: 5.66667rem!important;
        line-height: 7.33333rem!important;
    }
    .journalSlider__slider img {
        height: 33.55556rem!important;
    }
    .journalSlider .dots_wrap {
        display: none!important;
    }
    .newsSlider__title h2 {
        margin-top: 6rem!important;
        font-size: 6.66667rem!important;
    }
    header {
        height: 20.55556rem;
    }
    header .logo img {
        width: 38.65222rem!important;
        height: 21.22222rem!important;
    }
    header .nav_wrap nav ul .burger_wrap {
        display: block!important;
    }
    header .nav_wrap nav ul li .burger {
        top: 45px!important;
    }
    header .nav_wrap nav ul li .burger img {
        width: 15rem!important;
        height: 7rem!important;
    }
    header .nav_wrap nav ul li{
        display: none;
    }
    .newsSlider_bg {
        height: 55.22222rem!important;
    }
    .newsSlider_slider_item img {
        height: 38.66667rem!important;
    }
    .newsItem h2 {
        font-size: 5.33333rem!important;
        line-height: 6rem!important;
        text-align: center;
    }
    .newsItem_item img {
        height: 85rem!important;
    }
    .newsItem .line {
        width: 9.5rem!important;
    }
    .newsItem h3 {
        font-size: 4rem!important;
        line-height: 7.66667rem!important;
    }
    .newsSlider .news_prev, .newsSlider .news_next {
        margin-right: -8.55556rem!important;
    }
    .newsSlider_slider_item_descr h2 {
        font-size: 5rem!important;
        line-height: 4.66667rem!important;
        width: 100%!important;
    }
    .newsSlider_slider_item_descr h3 {
        font-size: 4rem!important;
    }
    .newsSlider_slider_item_descr {
        width: 100%!important;
        padding-right: 12px!important;
    }
    .newsSlider_bg {
        height: 73.22222rem!important;
    }
    .newsSlider .news_prev img, .newsSlider .news_next img {
        width: 5.66667rem!important;
        height: 5.1rem!important;
    }
    .newsSlider .news_prev, .newsSlider .news_next {
        width: 10.55556rem!important;
        height: 10.55556rem!important;
        display: none!important;
    }
    .personalSlider_img {
        margin-left: 0px!important;
        margin-top: 3rem!important;
    }
    .personalSlider_arrows {
        display: none!important;
    }
    .personalSlider_img img {
        width: 46rem!important;
        height: 46rem!important;
    }
    .reverseSlider__title h2 {
        font-size: 5.66667rem!important;
    }
    .personalSlider_descr {
        padding-top: 7.5rem!important;
    }
    .personalSlider_descr h3 {
        font-size: 4rem!important;
    }
    .personalSlider_descr h2 {
        font-size: 6rem!important;
        line-height: 6.66667rem!important;
        letter-spacing: 0!important;
    }
    footer {
        height: 30rem!important;
    }
    footer .logo {
        display: flex;
        justify-content: center;
    }
    footer .logo img {
        height: 18rem!important;
        width: 38rem!important;
    }
    footer .footer_descr .footer_soc {
        justify-content: center;
        margin-top: 7rem;
    }
    .footer_span {
        display: none;
    }
    footer .footer_descr .footer_soc a {
        font-size: 2.88889rem;
    }
    .footer_nav {
        min-height: 45.44444rem!important;
    }
    .footer_nav_child ul li a {
        font-size: 5.33333rem!important;
        line-height: 12.33333rem!important;
    }
    .nav-panel-mobil-ul ul {
        left: 16%!important;
    }
    .newsSlider .news_prev {
        top: 27.33333rem!important;
        background: #056496!important;
    }
    .nav-panel-mobil-ul ul li a {
        font-size: 5.75781vw !important;
        line-height: 11.14844vw !important;
    }
    .diagram__descr .logo_1, .diagram__descr .logo_2 {
        padding: 0!important;
    }
    .diagram__descr .logo_2_img, .diagram__descr .logo_1_img {
        top: 0!important;
    }
    .diagram {
        .plus {
            font-size: get-vw-768(48px);
            line-height: get-vw-768(64px);
            top: get-vw-768(135px);
        }
        &__title {
            line-height: get-vw-768(64px);
            margin-top: get-vw-768(15px);
            letter-spacing: 0.05em;
        }
        &__descr {
            margin-top: get-vw-768(135px);
            .logo_1_img {
                left: get-vw-768(175px);
                top: get-vw-768(100px);
                img {
                    width: 100%;
                }
            }
            .logo_2_img {
                right: get-vw-768(175px);
                top: get-vw-768(100px);
                img {
                    width: 100%;
                }
            }

            .logo_1 {
                top: get-vw-768(100px);
                left: get-vw-768(25px);
                padding-top: get-vw-768(252px);
                padding-left: get-vw-768(111px);
                padding-bottom: get-vw-768(252px);
                padding-right: get-vw-768(320px);
                img {
                    width: get-vw-768(258px);
                }

            }
            .logo_2 {
                top: get-vw-768(115px);
                right: get-vw-768(-15px);
                padding-top: get-vw-768(292px);
                padding-left: get-vw-768(289px);
                padding-right: get-vw-768(79px);
                padding-bottom: get-vw-768(292px);
                img {
                    width: get-vw-768(322px);
                }
            }
        }
    }
    .advantage {
        &__title {
            h2 {
                margin-top: get-vw-768(135px);
                font-size: get-vw-768(48px);
                line-height: get-vw-768(64px);
                letter-spacing: 0.05em;
            }
        }
        &__footer_wrap {
            margin-bottom: get-vw-768(150px);
            p {
                font-size: get-vw-768(20px);
                line-height: get-vw-768(36px);
                letter-spacing: 0.05em;
            }
        }
        &__footer_text {
            h2 {
                margin-top: get-vw-768(550px);
                font-size: get-vw-768(24px);
                line-height: get-vw-768(48px);
                letter-spacing: 0.05em;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    header .nav_wrap nav ul li .burger {
        top: 20px !important;
    }
    .diagram_img {
        display: block!important;
        img {
            margin-top: 25px;
            margin-bottom: 25px;
            width: 100%;
        }
    }
    .diagram__descr .logo_1, .diagram__descr .logo_2 {
        padding: 0!important;
        display: none;
    }
    .diagram__descr .logo_2_img, .diagram__descr .logo_1_img {
        top: 0!important;
    }
    .diagram {
        min-height: get-vw-480(720px);
        .plus {
            font-size: get-vw-480(48px);
            line-height: get-vw-480(64px);
            top: get-vw-480(135px);
        }
        &__title {
            line-height: get-vw-480(64px);
            margin-top: get-vw-480(15px);
            letter-spacing: 0.05em;
        }
        &__descr {
            display: none;
            margin-top: get-vw-480(135px);
            .logo_1_img {
                left: get-vw-480(175px);
                top: get-vw-480(100px);
                img {
                    width: 100%;
                }
            }
            .logo_2_img {
                right: get-vw-480(175px);
                top: get-vw-480(100px);
                img {
                    width: 100%;
                }
            }

            .logo_1 {
                top: get-vw-480(100px);
                left: get-vw-480(25px);
                padding-top: get-vw-480(252px);
                padding-left: get-vw-480(111px);
                padding-bottom: get-vw-480(252px);
                padding-right: get-vw-480(320px);
                img {
                    width: 100%;
                }

            }
            .logo_2 {
                top: get-vw-480(115px);
                right: get-vw-480(-15px);
                padding-top: get-vw-480(292px);
                padding-left: get-vw-480(289px);
                padding-right: get-vw-480(79px);
                padding-bottom: get-vw-480(292px);
                img {
                    width: 100%;
                }
            }
        }
    }
    .advantage {
        &__title {
            h2 {
                font-size: get-vw-480(24px);
                line-height: get-vw-480(64px);
                letter-spacing: 0.05em;
            }
        }
        &__footer_wrap {
            margin-bottom: get-vw-480(150px);
            p {
                font-size: get-vw-480(20px);
                line-height: get-vw-480(36px);
                letter-spacing: 0.05em;
            }
        }
        &__footer_text {
            h2 {
                font-size: get-vw-480(24px);
                line-height: get-vw-480(48px);
                letter-spacing: 0.05em;
            }
        }
    }
}
@media screen and (max-width: 360px) {
    .diagram__descr .logo_1, .diagram__descr .logo_2 {
        display: none!important;
        padding: 0!important;
    }
    .diagram__descr .logo_2_img, .diagram__descr .logo_1_img {
        top: 0!important;
    }
    .diagram {
        .plus {
            font-size: get-vw-360(48px);
            line-height: get-vw-360(64px);
            top: get-vw-360(135px);
        }
        &__title {
            line-height: 2!important;
            margin-top: get-vw-360(15px);
            letter-spacing: 0.05em;
        }
        &__descr {
            margin-top: get-vw-360(135px);
            .logo_1_img {
                display: none;
                left: 0;
                top: get-vw-360(100px);
                img {
                    width: 150%;
                }
            }
            .logo_2_img {
                display: none;
                right: 0;
                top: get-vw-360(100px);
                img {
                    width: 150%;
                }
            }

            .logo_1 {
                top: get-vw-360(100px);
                left: get-vw-360(25px);
                padding-top: get-vw-360(252px);
                padding-left: get-vw-360(111px);
                padding-bottom: get-vw-360(252px);
                padding-right: get-vw-360(320px);
                img {
                    width: 100%;
                }

            }
            .logo_2 {
                top: get-vw-360(115px);
                right: get-vw-360(-15px);
                padding-top: get-vw-360(292px);
                padding-left: get-vw-360(289px);
                padding-right: get-vw-360(79px);
                padding-bottom: get-vw-360(292px);
                img {
                    width: 100%;
                }
            }
        }
    }
    .advantage {
        &__title {
            h2 {
                font-size: get-vw-360(24px);
                line-height: get-vw-360(64px);
                letter-spacing: 0.05em;
            }
        }
        &__footer_wrap {
            margin-bottom: get-vw-360(150px);
            p {
                font-size: get-vw-360(20px);
                line-height: get-vw-360(36px);
                letter-spacing: 0.05em;
            }
        }
        &__footer_text {
            h2 {
                font-size: get-vw-360(24px);
                line-height: get-vw-360(48px);
                letter-spacing: 0.05em;
            }
        }
    }
}
