$mapSize: (
    main: ((s10: 10, s11: 11, s12: 12, s13: 13, s14: 14, s15: 15, s16: 16, s18: 18, s19: 19, s20: 20, s23: 23, s24: 24, s26: 26, s30: 30, s36: 38, s48: 48, s54: 54, s60: 60, s102: 102, s120: 120), "rem", 18),
);
//1400: ((s120: 72, s24: 16, s48:28), "rem", 18),
//780: ((s120: 96, s48: 36), "rem", 16),
$mainSize: 1920;

@function parseInt($n) {
    /* 2 */
    @return $n / ($n * 0 + 1);
}

@function get-vw-1920($font){
  $vw-context: 1920 * 0.01 * 1px;
  @return $font / $vw-context * 1vw;
  @return $font;
}
@function get-vw-1440($font){
    $vw-context: 1440 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-1320($font){
    $vw-context: 1320 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-1024($font){
    $vw-context: 1024 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-768($font){
    $vw-context: 768 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-480($font){
    $vw-context: 480 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}
@function get-vw-360($font){
    $vw-context: 360 * 0.01 * 1px;
    @return $font / $vw-context * 1vw;
    @return $font;
}

@mixin rem($property, $values) {
    $px: (); /* 3 */
    $rem: (); /* 3 */

    @each $value in $values {
        /* 4 */

        @if $value == 0 or $value == auto {
            /* 5 */
            $px: append($px, $value);
            $rem: append($rem, $value);
        } @else {
            $unit: unit($value); /* 6 */
            $val: parseInt($value); /* 6 */

            @if $unit == 'px' {
                /* 7 */
                $px: append($px, $value);
                $rem: append($rem, ($val / 18 + rem));
            }

            @if $unit == 'rem' {
                /* 7 */
                $px: append($px, ($val * 18 + px));
                $rem: append($rem, $value);
            }
        }
    }

    @if $px == $rem {
        /* 8 */
        #{$property}: $px; /* 9 */
    } @else {
        #{$property}: $px; /* 9 */
        #{$property}: $rem; /* 9 */
    }
}



.text {

    // font-family: 'Open Sans', sans-serif;

    @each $key, $sizeStap in $mapSize {
        @if ($key=="main") {
            @each $stapSize, $size in nth($sizeStap, 1) {
                &-#{$stapSize} {
                    @if (nth($sizeStap, 2)=="vw") {
                        font-size: #{$size/($mainSize/100)}vw;
                    } @else {
                        font-size: #{$size/nth($sizeStap, 3)}rem;
                    }
                }
                &-#{$stapSize}vw {
                    font-size: #{$size/($mainSize/100)}vw;
                }

            }
        } @else {
            @media screen and (max-width: #{$key}px) {
                @each $stapSize, $size in nth($sizeStap, 1) {
                    &-#{$stapSize} {
                        @if (nth($sizeStap, 2)=="vw") {
                            font-size: #{$size/($key/100)}vw;
                        } @else {
                            font-size: #{$size/nth($sizeStap, 3)}rem;
                        }
                    }
                    &-#{$stapSize}vw {
                        font-size: #{$size/($key/100)}vw;
                    }
                }
            }
        }
    }
}


