// Layouts
@import './layouts/header.scss';
@import './layouts/footer.scss';

// PLugins
@import './plugins/text.scss';
@import './plugins/media.scss';
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/slick-slider/slick/slick.scss";
@import "node_modules/slick-slider/slick/slick-theme.scss";

// Typography
@import './typography/fonts.scss';

// Page
@import './page/main_slider.scss';
@import './page/journal_slider.scss';
@import './page/news_slider.scss';
@import './page/news_item.scss';
@import './page/personal_slider.scss';
@import './page/reverse_slider.scss';
@import './page/footer_nav.scss';
@import './page/news_inner.scss';
@import './page/contacts.scss';
@import './page/about.scss';
@import './page/distribution.scss';


html {
  font-size: 0.938vw;
  font-family: 'Montserrat-md', serif;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: flex;
}

.container_wrapper {
  max-width: 1920px;
  @include rem(padding-left, 255px);
  @include rem(padding-right, 255px);
}
