@font-face{
  font-family: 'Montserrat-md';
  src: url(../../../../assets/fonts/Montserrat-Medium.ttf);
}

@font-face{
  font-family: 'Montserrat-SemiBold';
  src: url(../../../../assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face{
  font-family: 'Montserrat-SemiBoldItalic';
  src: url(../../../../assets/fonts/Montserrat-SemiBoldItalic.ttf);
}
