@import '../plugins/text.scss';

footer {
    @include rem(height, 220px);
    background: #F0FAFF;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    .logo {
        img {
            @include rem(height, 40px);
            @include rem(width, 245.79px);
        }
    }
    .airplane {
        img {
            position: absolute;
            @include rem(top, -200px);
            @include rem(height, 350px);
            @include rem(width, 807px);
            mix-blend-mode: luminosity;
        }
    }
    .footer_descr {
        .footer_soc {
            display: flex;
            align-items: center;
            a {
                font-family: 'Montserrat-md';
                font-weight: 600;
                @include rem(font-size, 16px);
                @include rem(line-height, 48px);
                letter-spacing: 0.05em;
                text-decoration-line: underline;
                text-transform: uppercase;
                color: #000000;
                @include rem(padding-right, 39px);
            }
        }
        .footer_span {
            span {
                font-family: 'Montserrat-md';
                font-weight: 500;
                @include rem(font-size, 16px);
                @include rem(line-height, 48px);
                letter-spacing: 0.05em;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
