@import '../plugins/text.scss';

header {
  align-items: center;
  background: #FFFFFF;
  width: 100%;
  @include rem(height, 100px);
  .logo {
    display: flex;
    img {
      @include rem(width, 245.74px);
      @include rem(height, 40px);
    }
  }
  .nav_wrap {
    nav {
      ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        li {
          a {
            font-family: 'Montserrat-md';
            font-weight: 500;
            @include rem(font-size, 18px);
            @include rem(line-height, 22px);
            letter-spacing: 0.05em;
            color: #000000;
          }
          .burger {
            position: absolute;
            right: -25px;
            top: 5px;
            z-index: 9999;
            @include rem(padding-left, 80px);
            img {
              @include rem(width, 18px);
              @include rem(height, 18px);
            }
          }
        }
      }
    }
  }
}

.nav-panel-mobil{
    position: fixed;
    background-color: #fff;
    height: 100vh;
    z-index: 99;
    transition:.5s;
    width: 100%;
    text-align: center;
    transform: translateX(-100%);
    padding-top:1rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;
}
.nav-panel-mobil-active{
    transform: translateX(0);
}
.nav-panel-mobil-ul {
    display: flex;
    flex-direction: column;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 1500px;
        position: absolute;
        top: 60px;
        left: 40%;
        li {
            padding-bottom: get-vw-1024(5px);
            a {
                font-family: 'Montserrat-md';
                font-weight: 500;
                font-size: get-vw-1024(18px);
                line-height: get-vw-1024(22px);
                color: #000000;
                text-transform: uppercase;
                &:hover {
                    text-decoration: line-through;
                }
            }
        }
    }
}

