@import '../plugins/text.scss';

.diagram {
    @include rem(min-height, 1238px);
    background: #FFFFFF;
    .diagram_img {
        display: none;
    }
    .plus {
        font-family: 'Montserrat-md';
        font-weight: 500;
        @include rem(font-size, 48px);
        @include rem(line-height, 64px);
        text-align: center;
        letter-spacing: 0.05em;
        color: #000000;
        position: absolute;
        @include rem(top, 425px);
    }
    &__title {
        font-family: 'Montserrat-md';
        font-weight: 500;
        @include rem(font-size, 48px);
        @include rem(line-height, 64px);
        @include rem(margin-top, 135px);
        text-align: center;
        letter-spacing: 0.05em;
        color: #000000;
    }
    &__descr {
        @include rem(margin-top, 135px);
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        .logo_1_img {
            @include rem(left, 75px);
            position: absolute;
            @include rem(top, 100px);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
            -moz-animation-name: earth;
            -moz-animation-duration: 77s;
            -webkit-animation-name: earth;
            -webkit-animation-duration: 77s;

            -moz-animation-timing-function: linear;
            -moz-animation-iteration-count: infinite;
            -moz-animation-direction: normal;
            -moz-animation-delay: 0;
            -moz-animation-play-state: running;
            -moz-animation-fill-mode: forwards;

            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-direction: normal;
            -webkit-animation-delay: 0;
            -webkit-animation-play-state: running;
            -webkit-animation-fill-mode: forwards;
            img {
                @include rem(width, 690px);
                @include rem(height, 690px);
            }
            @-webkit-keyframes earth {
                0% {
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                }
            }
            @-moz-keyframes earth {
                0% {
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                }
            }
        }
        .logo_2_img {
            @include rem(right, 75px);
            position: absolute;
            @include rem(top, 100px);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -moz-animation-name: earth_reverse;
            -moz-animation-duration: 77s;
            -webkit-animation-name: earth_reverse;
            -webkit-animation-duration: 77s;

            -moz-animation-timing-function: linear;
            -moz-animation-iteration-count: infinite;
            -moz-animation-direction: normal;
            -moz-animation-delay: 0;
            -moz-animation-play-state: running;
            -moz-animation-fill-mode: forwards;

            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-direction: normal;
            -webkit-animation-delay: 0;
            -webkit-animation-play-state: running;
            -webkit-animation-fill-mode: forwards;
            img {
                @include rem(width, 690px);
                @include rem(height, 690px);
            }
            @-webkit-keyframes earth_reverse {
                0% {
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                }
                100% {
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                }
            }
            @-moz-keyframes earth_reverse {
                0% {
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                }
                100% {
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                }
            }
        }

        .logo_1 {
            @include rem(top, 100px);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: absolute;
            @include rem(left, 100px);
            @include rem(padding-top, 252px);
            @include rem(padding-left, 111px);
            @include rem(padding-bottom, 252px);
            @include rem(padding-right, 320px);

            img {
                @include rem(width, 258px);
                @include rem(height, 185px);
            }

        }
        .logo_2 {
            @include rem(top, 100px);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: absolute;
            @include rem(right, 100px);
            @include rem(padding-top, 292px);
            @include rem(padding-left, 289px);
            @include rem(padding-right, 79px);
            @include rem(padding-bottom, 292px);
            img {
                @include rem(width, 322px);
                @include rem(height, 101px);
                transition: none;
            }
        }
    }
}
.article {
    min-height: 389px;
    width: 100%;
    background-image: url('../../../../assets/img/citat.svg');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 50% 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_descr {
        h2 {
            font-family: 'Montserrat-md';
            font-size: get-vw-1920(36px);
            line-height: get-vw-1920(64px);
            text-align: center;
            letter-spacing: 0.05em;
            color: #000000;
        }
    }
}
.our_project {
    h3 {
        font-family: 'Montserrat-md';
        font-weight: 500;
        font-size: get-vw-1920(24px);
        line-height: get-vw-1920(64px);
        letter-spacing: 0.05em;
        color: #000000;
        padding-top: get-vw-1920(126px);
        padding-bottom: get-vw-1920(35px);
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        @include rem(min-height, 1433px);
        @include rem(width, 638px);
        li {
            font-family: 'Montserrat-md';
            width: 100%;
            font-weight: 500;
            font-size: get-vw-1920(36px);
            line-height: get-vw-1920(54px);
            letter-spacing: 0.05em;
            color: #000000;
            @include rem(height, 195px);
            padding-top: get-vw-1920(42px);
            padding-bottom: get-vw-1920(52px);
        }
    }
}
.gallery_img_right {
    img {
        width: 100%;
        padding-top: 15px;
        @include rem(height, 475px);
    }
}
.gallery_img {
    @include rem(padding-top, 45px);
    img {
        width: 100%;
        @include rem(height, 450px);
    }
}
.gallery_img_big {
    padding-left: 0px;
    padding-top: 15px;
    img {
        width: 100%;
        @include rem(height, 930px);
    }
}
.five_descr {
    min-height: 389px;
    width: 100%;
    background-image: url('../../../../assets/img/500.svg');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 50% 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        font-family: 'Montserrat-md';
        font-size: get-vw-1920(36px);
        line-height: get-vw-1920(64px);
        text-align: center;
        letter-spacing: 0.05em;
        color: #000000;
    }
}
.air_descr {
    min-height: 519px;
    width: 100%;
    background-image: url('../../../../assets/img/air_icon.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-family: 'Montserrat-md';
        font-weight: 500;
        font-size: get-vw-1920(48px);
        line-height: get-vw-1920(64px);
        text-align: center;
        letter-spacing: 0.05em;
        color: #000000;
    }
    p {
        font-family: 'Montserrat-md';
        font-weight: 500;
        font-size: get-vw-1920(18px);
        line-height: get-vw-1920(36px);
        text-align: center;
        letter-spacing: 0.05em;
        color: #000000;
    }
}

.advantage_wrap {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #F0FAFF;
    height: 100%;
}
.advantage {
    background-image: url('../../../../assets/img/distribution.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 15%;
    &__foot {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 1px;
            bottom: 0px;
            @include rem(width, 1390px);
            background-image: url('../../../../assets/img/line_dashed.svg');
            background-repeat: no-repeat;
            background-size: contain;
            border-bottom: 1px dashed #056496;
        }
    }
    &__title {
        h2 {
            @include rem(margin-top, 135px);
            font-family: "Montserrat-md";
            font-weight: 500;
            @include rem(font-size, 48px);
            @include rem(line-height, 64px);
            text-align: center;
            letter-spacing: 0.05em;
            color: #000000;
            display: flex;
            justify-content: center;
        }
    }
    &__footer_wrap {
        @include rem(min-height, 625px);
        @include rem(margin-bottom, 150px);
        margin-top: get-vw-1920(150px);
        background: #F0FAFF;
        p {
            font-family: 'Montserrat-md';
            font-weight: 500;
            @include rem(font-size, 18px);
            @include rem(line-height, 36px);
            letter-spacing: 0.05em;
            color: #000000;
            @include rem(padding-top, 29px);
            @include rem(padding-bottom, 29px);
            @include rem(padding-left, 40px);
            @include rem(padding-right, 40px);
        }
    }
    &__footer_text {
        h2 {
            @include rem(margin-top, 550px);
            font-family: 'Montserrat-md';
            font-weight: 500;
            @include rem(font-size, 24px);
            @include rem(line-height, 48px);
            text-align: center;
            letter-spacing: 0.05em;
            color: #000000;
            text-decoration: underline;
            display: flex;
            justify-content: center;
        }
    }
}

