@import '../plugins/text.scss';

.contacts_descr {
    margin: 0 auto;
    @include rem(margin-left, 238px);
    &_text {
        @include rem(margin-top, 85px);
        @include rem(margin-right, 4rem);
        &_1 {
            display: flex;
            flex-direction: column;
            span {
                font-family: 'Montserrat-md';
                @include rem(font-size, 14px);
                @include rem(line-height, 36px);
                font-weight: 500;
                letter-spacing: 0.05em;
                color: #000000;
            }
            a {
                font-family: 'Montserrat-md';
                font-weight: 500;
                @include rem(font-size, 36px);
                @include rem(line-height, 48px);
                letter-spacing: 0.05em;
                color: #056496;
            }
        }
        &_2 {
            display: flex;
            flex-direction: column;
            span {
                font-family: 'Montserrat-md';
                @include rem(font-size, 14px);
                @include rem(line-height, 36px);
                font-weight: 500;
                letter-spacing: 0.05em;
                color: #000000;
            }
            a {
                font-family: 'Montserrat-md';
                font-weight: 500;
                @include rem(font-size, 36px);
                @include rem(line-height, 48px);
                letter-spacing: 0.05em;
                color: #056496;
            }
        }
        .line {
            @include rem(width, 210px);
            @include rem(margin-top, 59px);
            @include rem(margin-bottom, 59px);
            height: 1px;
            background: rgba(0, 0, 0, 0.2);
        }
    }
    &_form {
        @include rem(width, 480px);
        h2 {
            font-family: 'Montserrat-md';
            font-weight: 500;
            @include rem(font-size, 36px);
            @include rem(line-height, 48px);
            @include rem(margin-top, 50px);
            letter-spacing: 0.05em;
            color: #000000;
        }
        form {
            display: flex;
            flex-direction: column;
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #056496;
                color: #fff;
                border: none;
                font-family: 'Montserrat-md';
                font-weight: bold;
                @include rem(font-size, 14px);
                @include rem(line-height, 36px);
                letter-spacing: 0.05em;
                text-transform: uppercase;
                z-index: 1;
                @include rem(height, 64px);
                @include rem(width, 360px);
                @include rem(border-radius, 32px);
                @include rem(margin-top, 50px);
                @include rem(margin-bottom, 100px);
                img {
                    @include rem(padding-left, 30px);
                    @include rem(height, 12px);
                    @include rem(width, 16px);
                }
            }
            input {
                @include rem(height, 64px);
                @include rem(width, 360px);
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-sizing: border-box;
                @include rem(border-radius, 32px);
                @include rem(padding-left, 40px);
                @include rem(margin-top, 30px);
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    font-family: 'Montserrat-md';
                    font-weight: 500;
                    @include rem(font-size, 14px);
                    @include rem(line-height, 36px);
                    letter-spacing: 0.05em;
                    color: #000000!important;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {
    .contacts_descr {
        width: 100%;
        margin: 0;
    }
    .contacts_descr_form {
        width: 100%;
    }
    .contacts_descr_form h2 {
        @include rem(font-size, 50px);
    }
    .contacts_descr_form form input {
        width: 100%;
        @include rem(height, 150px);
        &::placeholder {
            @include rem(font-size, 40px);
        }
    }
    .contacts_descr_form form button {
        @include rem(font-size, 40px);
        @include rem(height, 128px);
        @include rem(width, 720px);
        margin-left: auto;
        margin-right: auto;
    }
    .contacts_descr_text_1 span, .contacts_descr_text_2 span {
        @include rem(font-size, 40px);
        @include rem(line-height, 72px);
    }
    .contacts_descr_text_1 a, .contacts_descr_text_2 a {
        @include rem(font-size, 60px);
        @include rem(line-height, 72px);
    }
    .contacts_descr_text_2 {
        @include rem(padding-top, 80px);
    }

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 360px) {

}
