@import '../plugins/text.scss';

.distribution_items_title {
    h2 {
        font-family: 'Montserrat-md';
        font-weight: 500;
        font-size: get-vw-1920(48px);
        line-height: get-vw-1920(64px);
        text-align: center;
        letter-spacing: 0.05em;
        color: #000000;
        margin-top: get-vw-1920(135px);
        margin-bottom: get-vw-1920(135px);
    }
}
.distribution_items {
    padding: get-vw-1920(60px);
    height: get-vw-1920(614px);
    width: 100%;
    background: #F0FAFF;
    .icon {
        width: get-vw-1920(113.42px);
        height: get-vw-1920(128px);
        margin-bottom: get-vw-1920(70px);
    }
    .title {
        margin-bottom: get-vw-1920(20px);
        h2 {
            font-family: 'Montserrat-md';
            font-weight: 500;
            font-size: get-vw-1920(24px);
            line-height: get-vw-1920(36px);
            letter-spacing: 0.05em;
            color: #000000;
        }
    }
    .descr {
        p {
            font-family: 'Montserrat-md';
            font-weight: 500;
            font-size: get-vw-1920(18px);
            line-height: get-vw-1920(36px);
            letter-spacing: 0.05em;
            color: #000000;
        }
    }
}
.distribute_wrap {
    position: relative;
    padding-bottom: get-vw-1920(150px);
}
.distribute_wrap::after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0px;
    width: 1390px;
    width: 77.22222rem;
    background-image: url('../../../../assets/img/line_dashed.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 1px dashed #056496;
}

.professional {
    margin-top: get-vw-1920(150px);
    min-height: get-vw-1920(1963px);
    background: #F0FAFF;
    &_title {
        padding-top: get-vw-1920(136px);
        font-family: 'Montserrat-md';
        font-weight: 500;
        font-size: get-vw-1920(48px);
        line-height: get-vw-1920(64px);
        text-align: center;
        letter-spacing: 0.05em;
        color: #000000;
    }
    &_item {
        width: 100%;
        padding-top: get-vw-1920(136px);
        &_span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            margin-top: 15px;
            span {
                font-family: 'Montserrat-md';
                font-weight: 500;
                font-size: get-vw-1920(24px);
                line-height: get-vw-1920(36px);
                letter-spacing: 0.05em;
                color: #056496;
                border: 1px dashed #056496;
                border-radius: 50%;
                padding: 5px;
            }

        }
        &_p_left {
            display: flex;
            justify-content: flex-start;
            p {
                width: 50%;
                height: get-vw-1920(225px);
                padding-right: get-vw-1920(50px);
                border-right: 1px dashed #056496;
                text-align: right;
                font-family: 'Montserrat-md';
                font-weight: 500;
                font-size: get-vw-1920(18px);
                line-height: get-vw-1920(36px);
                letter-spacing: 0.05em;
                color: #000000;
                display: grid;
                place-items: center;
            }
        }
        &_p {
            display: flex;
            justify-content: flex-end;
            p {
                width: 50%;
                height: get-vw-1920(225px);
                padding-left: get-vw-1920(50px);
                border-left: 1px dashed #056496;
                text-align: left;
                font-family: 'Montserrat-md';
                font-weight: 500;
                font-size: get-vw-1920(18px);
                line-height: get-vw-1920(36px);
                letter-spacing: 0.05em;
                color: #000000;
                display: grid;
                place-items: center;
            }
        }
    }
}
