@import '../plugins/text.scss';

.footer_nav {
    @include rem(min-height, 620px);
    width: 100%;
    background: #056496;
    &_child {
        @include rem(padding, 150px);
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            li {
                @include rem(padding-top, 15px);
                @include rem(padding-bottom, 15px);
                @include rem(padding-left, 15px);
                @include rem(padding-right, 15px);
                a {
                    font-family: 'Montserrat-md';
                    font-weight: 500;
                    @include rem(font-size, 24px);
                    @include rem(line-height, 96px);
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    border: 2px solid rgba(255, 255, 255, 0.1);
                    box-sizing: border-box;
                    @include rem(border-radius, 45px);
                    @include rem(padding, 30px);
                    &:hover {
                        background: #FFFFFF;
                        color: #056496;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
