@import '../plugins/text.scss';

.journalSlider {
  &__title {
    h2 {
      font-family: 'Montserrat-md';
      font-weight: 500;
      @include rem(font-size, 48px);
      @include rem(line-height, 60px);
      @include rem(padding-top, 150px);
      @include rem(padding-bottom, 136px);
      letter-spacing: 0.05em;
      color: #000000;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
  &__slider {
    img {
      @include rem(width, 260px);
      @include rem(height, 370px);
      @include rem(margin, 0px 15px);
    }
  }
  .dots_wrap {
    border: 1px dashed #056496;
    border-spacing: 5px;
    @include rem(height, 60px);
    @include rem(width, 60px);
    border-radius: 50%;
    margin: 0 auto;
    @include rem(margin-top, 80px);
    @include rem(margin-bottom, 150px);
    position: relative;
    .dots {
      @include rem(width, 8px);
      @include rem(height, 8px);
      @include rem(margin-top, 25px);
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #056496;
      border-radius: 50%;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        background-image: url('../../../../assets/img/dashed_line.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 1px;
        @include rem(width, 225px);
        @include rem(left, 90px);
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        background-image: url('../../../../assets/img/dashed_line.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 1px;
        @include rem(width, 225px);
        @include rem(right, 80px);
      }
    }
  }
}