@import '../plugins/text.scss';

.main_slider_wrap {
  .slick-dots {
    @include rem(bottom, 25px);
    li {
      @include rem(margin-left, 10px);
      @include rem(margin-right, -5px);
    }
    li button:before {
      content: '';
      @include rem(width, 16px);
      @include rem(height, 16px);
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.2);
    }
    li.slick-active {
      margin: 0px 15px;
    }
    li.slick-active button:before {
      @include rem(width, 32px);
      @include rem(height, 16px);
      @include rem(border-radius, 8px);
      background: #FFFFFF;
    }
  }
  @include rem(height, 711px);
  position: relative;
  .main_slider {
    &_item {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .prev, .next {
    position: absolute;
    top: 40%;
    @include rem(width, 64px);
    @include rem(height, 64px);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    img {
      @include rem(width, 30px);
      @include rem(height, 19.8px);
    }
  }
  .prev {
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    @include rem(margin-left, 255px);
  }
  .next {
    background: #FFFFFF;
    right: 0;
    @include rem(margin-right, 255px);
  }
}

.pagination_btn {
    outline: none;
    border: none;
    @include rem(width, 320px);
    @include rem(height, 64px);
    @include rem(border-radius, 32px);
    background: #056496;
    color: #fff;
    font-family: 'Montserrat-md';
    font-weight: bold;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    @include rem(margin-bottom, 144px);
    @include rem(margin-top, 55px);
    img {
        @include rem(width, 16px);
        @include rem(height, 16px);
    }
    &:focus {
        outline: none;
    }
}
