@import '../plugins/text.scss';

.newsSlider {
  flex-direction: column;
  &_slider {
    &_item {
      img {
        @include rem(height, 1170px);
        @include rem(height, 480px);
      }
      &_descr {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-family: 'Montserrat-md';
        @include rem(width, 810px);
        @include rem(margin-top, 80px);
        .line {
          background: #056496;
          height: 1px;
          @include rem(width, 63px);
          @include rem(margin-left, 39px);
          @include rem(margin-right, 36px);
          @include rem(margin-top, 20px);
          @include rem(margin-bottom, 28px);
        }
        h3 {
          @include rem(font-size, 18px);
          font-weight: 500;
          @include rem(line-height, 48px);
          letter-spacing: 0.05em;
          color: #056496;
          margin: 0;
        }
        h2 {
          @include rem(font-size, 36px);
          @include rem(line-height, 48px);
          @include rem(width, 400px);
          letter-spacing: 0.05em;
          margin: 0;
        }
      }
    }
  }
  .news_prev, .news_next {
    position: absolute;
    top: 40%;
    @include rem(width, 64px);
    @include rem(height, 64px);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    right: 0;
    @include rem(margin-right, 116px);
    img {
      @include rem(width, 30px);
      @include rem(height, 19.8px);
    }
  }
  .news_prev {
    background: rgba(255, 255, 255, 0.2);
    @include rem(top, 330px);
  }
  .news_next {
    background: #FFFFFF;
    @include rem(top, 236px);
  }
}
.newsSlider__title {
  h2 {
    @include rem(font-size, 48px);
    @include rem(margin-bottom, 138px);
    @include rem(line-height, 59px);
    font-family: 'Montserrat-md';
    font-weight: 500;
    letter-spacing: 0.05em;
  }
}
.statiaSlider__title {
    h2 {
        @include rem(font-size, 48px);
        @include rem(padding-top, 138px);
        @include rem(line-height, 59px);
        font-family: 'Montserrat-md';
        font-weight: 500;
        letter-spacing: 0.05em;
    }
}
.newsSlider_bg {
  background-image: url('../../../../assets/img/news_slider.svg');
  background-repeat: no-repeat;
  background-size: cover;
  @include rem(height, 832px);
}
