@import '../plugins/text.scss';

.news_inner_bg {
    background-image: url('../../../../assets/img/fenix_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include rem(height, 832px);
    width: 100%;
    .news_inner_text {
        h2 {
            font-family: 'Montserrat-md';
            font-weight: 500;
            font-size: 36px;
            line-height: 48px;
            letter-spacing: 0.05em;
            color: #000000;
        }

    }
}
.news_inner_breadscrump {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include rem(height, 32px);
        @include rem(width, 235px);
        @include rem(margin-top, 150px);
        :first-child {
            color: #fff;
            background: #056496;
            display: flex;
            justify-content: center;
            @include rem(height, 32px);
            @include rem(width, 102px);
        }
        :last-child {
            color: #056496;
        }
        li {
            font-family: 'Montserrat-md';
            font-weight: 500;
            @include rem(font-size, 18px);
            @include rem(line-height, 48px);
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
        }
    }
}
.news_inner_title {
    font-family: 'Montserrat-md';
    font-weight: 500;
    @include rem(margin-top, 39px);
    @include rem(margin-bottom, 74px);
    @include rem(font-size, 48px);
    @include rem(line-height, 64px);
    letter-spacing: 0.05em;
    color: #000000;
}
.news_inner_text_a {
    @include rem(padding-bottom, 150px);

}
.news_inner_text_descr {
    @include rem(padding-right, 150px);
    @include rem(padding-bottom, 150px);
    h3 {
        font-family: 'Montserrat-md';
        font-weight: 500;
        @include rem(font-size, 24px);
        @include rem(line-height, 29px);
        @include rem(padding-top, 94px);
        @include rem(padding-bottom, 53px);
        letter-spacing: 0.05em;
        color: #000000;
    }
    p {
        font-family: 'Montserrat-md';
        font-weight: 500;
        @include rem(font-size, 18px);
        @include rem(line-height, 36px);
        letter-spacing: 0.05em;
        color: rgba(0, 0, 0, 0.75);
        i {
            font-family: 'Montserrat-SemiBoldItalic';
            font-weight: 600;
            @include rem(font-size, 18px);
            @include rem(line-height, 36px);
            letter-spacing: 0.05em;
            color: #000000;
        }
    }
}
.news_inner_text_items_bottom {
    @include rem(padding-top, 88px);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    h2 {
        font-family: 'Montserrat-md';
        font-weight: 500;
        @include rem(font-size, 34px);
        @include rem(line-height, 48px);
        letter-spacing: 0.05em;
        color: #000000;
    }
    &_social {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            @include rem(padding-top, 40px);
            li {
                @include rem(padding-right, 18px);
                a {
                    img {
                        @include rem(width, 70px);
                        @include rem(height, 70px);
                    }
                }
            }
        }
    }
}
.news_inner_text_items {
    position: sticky;
    top: 0;
    h2 {
        font-family: 'Montserrat-md';
        font-weight: 500;
        @include rem(font-size, 36px);
        @include rem(line-height, 48px);
        letter-spacing: 0.05em;
        color: #000000;
        @include rem(padding-bottom, 78px);
    }
    &_a {
        img {
            @include rem(height, 480px);
            @include rem(width, 450px);
        }
        span {
            font-family: 'Montserrat-md';
            font-weight: 500;
            @include rem(font-size, 18px);
            @include rem(line-height, 48px);
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            color: #056496;
            @include rem(padding-top, 60px);
            @include rem(padding-bottom, 35px);
        }
        .line {
            @include rem(width, 63px);
            @include rem(margin-bottom, 28px);
            height: 1px;
            background: #056496;
        }
        p {
            font-family: 'Montserrat-md';
            font-weight: 500;
            @include rem(font-size, 24px);
            @include rem(line-height, 36px);
            letter-spacing: 0.05em;
            color: #000000;
            @include rem(padding-bottom, 80px);
        }
    }
}
