@import '../plugins/text.scss';

.newsItem {
  @include rem(padding-top, 100px);
  @include rem(padding-bottom, 64px);
  &_item {
      margin: 0 5px;
  }
  img {
    @include rem(padding-bottom, 40px);
    @include rem(height, 480px);
    width: 100%;
  }
  .line {
    background: #056496;
    height: 1px;
    @include rem(width, 63px);
    @include rem(margin-top, 20px);
    @include rem(margin-bottom, 28px);
  }
  h3 {
    @include rem(font-size, 18px);
    font-weight: 500;
    @include rem(line-height, 48px);
    letter-spacing: 0.05em;
    color: #056496;
    margin: 0;
  }
  h2 {
    @include rem(margin-top, 28px);
    @include rem(font-size, 24px);
    @include rem(line-height, 36px);
    @include rem(width, 108px);
    @include rem(width, 400px);
    letter-spacing: 0.05em;
    color: #000;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
