@import '../plugins/text.scss';

.personalSlider {
  display: flex;
  flex-direction: column;
  position: relative;
  @include rem(margin-top, 75px);
  .personalSlider_item {
    display: flex!important;
    flex-direction: row;
  }
  &_arrows {
    position: absolute;
    display: flex;
    align-items: center;
    @include rem(bottom, 150px);
    // @include rem(left, 850px);
    left: 45%;
    .personal_next, .personal_prev {
      @include rem(width, 64px);
      @include rem(height, 64px);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      img {
        @include rem(width, 30px);
        @include rem(height, 19.8px);
      }
    }
    .personal_prev {
      background: rgba(236, 172, 0, 0.2);
      @include rem(margin-right, 30px);
    }
    .personal_next {
      background: #ECAC00;
    }
  }
  &_bg {
    background-image: url('../../../../assets/img/personal_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    @include rem(height, 943px);
    width: 100%;
    display: flex!important;
    flex-direction: row;
  }
  &_img {
    @include rem(margin-top, 150px);
    @include rem(margin-left, 200px);
    img {
      border-radius: 50%;
      @include rem(width, 494px);
      @include rem(height, 494px);
    }
  }
  &_descr {
    @include rem(padding-top, 225px);
    @include rem(padding-left, 144px);
    h3 {
      font-family: 'Montserrat-md';
      font-weight: 500;
      @include rem(font-size, 18px);
      @include rem(line-height, 48px);
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      color: #ECAC00;
    }
    h2 {
      font-family: 'Montserrat-md';
      font-weight: 500;
      @include rem(font-size, 36px);
      @include rem(line-height, 48px);
      letter-spacing: 0.05em;
      color: #000000;
    }
    .line {
      background: #ECAC00;
      height: 1px;
      @include rem(width, 63px);
      @include rem(margin-top, 35px);
      @include rem(margin-bottom, 28px);
    }
  }
}

@media screen and (max-width: 1200px) {
  .media_news_item {
    padding: 0px;
  }
  .newsItem_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    img {
      height: 50rem;
      width: 100%;
      object-fit: cover;
    }
    h2 {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
