@import '../plugins/text.scss';

.reverseSlider {
  flex-direction: column;
  &_slider {
    &_item {
      display: flex!important;
      flex-direction: column;
      flex-wrap: wrap-reverse;
      img {
        @include rem(width, 1170px);
        @include rem(height, 480px);
      }
      &_descr {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-family: 'Montserrat-md';
        @include rem(width, 810px);
        @include rem(margin-top, 80px);
        .line {
          background: #ffffff;
          height: 1px;
          @include rem(width, 63px);
          @include rem(margin-left, 39px);
          @include rem(margin-right, 36px);
          @include rem(margin-top, 20px);
        }
        h3 {
          @include rem(font-size, 18px);
          font-weight: 500;
          @include rem(line-height, 48px);
          letter-spacing: 0.05em;
          color: #FFF;
          margin: 0;
        }
        h2 {
          @include rem(font-size, 36px);
          @include rem(line-height, 48px);
          @include rem(width, 596px);
          letter-spacing: 0.05em;
          margin: 0;
          color: #fff;
        }
      }
    }
  }
  .reverseSlider_prev, .reverseSlider_next {
    position: absolute;
    top: 40%;
    @include rem(width, 64px);
    @include rem(height, 64px);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    @include rem(margin-left, 116px);
    img {
      @include rem(width, 30px);
      @include rem(height, 19.8px);
    }
  }
  .reverseSlider_prev {
    background:#056496;
    @include rem(top, 330px);
  }
  .reverseSlider_next {
    background:rgba(5, 100, 150, 0.2);
    @include rem(top, 236px);
  }
}
.reverseSlider__title {
  h2 {
    @include rem(font-size, 48px);
    @include rem(margin-bottom, 138px);
    @include rem(line-height, 59px);
    font-family: 'Montserrat-md';
    font-weight: 500;
    letter-spacing: 0.05em;
  }
}

.reverseSlider_bg {
  background-image: url('../../../assets/img/reverse_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  @include rem(height, 832px);
}